@import "../../styles/variable";

$dur: 0.2s;
$easing: ease-out;

.new-item-container.MuiButtonBase-root {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;

  cursor: pointer;
  transition: $dur $easing;
  transition-property: opacity, background-color;

  opacity: 0.5;

  overflow: hidden;

  position: relative;

  .MuiTouchRipple-rippleVisible {
    animation-name: new-item-ripple-enter;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.1, .2, .35, 1);
  }


  svg.MuiSvgIcon-root {
    font-size: 3rem;
  }

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

@keyframes new-item-ripple-enter {
  0% {
    transform: scale(0.7, 0.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.8, 1.7);
    opacity: 0;
  }
}
