@import "../../styles/variable";

.scrum-board-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 0 5px;

  .board {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 400px;
    grid-template-rows: 100%;
    grid-gap: 10px;
    padding: 10px 0;
    flex-grow: 1;

    overflow-x: auto;

    > div, > button {
      border: 1px solid $border-color;
      border-radius: $radius;
      overflow: hidden;
    }
  }
}
