@import "styles/variable";

.story-container{
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;

  .story-title {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    font-weight: bold;
    background-color: #f5f5f5;
  }
}
