@import "styles/variable";

.story-column-container {
  min-height: 100%;
  min-width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .stories {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: flex-start;

    > button, .story-list > .story {
      min-height: 100px;
    }
  }

  .column-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid $border-color;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
